@model ST10398576_EventEase.Models.Event
@{
    ViewData["Title"] = "Delete Event";
}

<h2>Delete Event</h2>

<p>Are you sure you want to delete this?</p>

<div>
    <p><strong>@Model.EventName</strong></p>
    <p>@Model.EventDate.ToString("dd MMM yyyy")</p>
    <p>@Model.Venue?.VenueName</p>
</div>

<form asp-action="Delete" method="post" asp-route-id="@Model.EventId">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="EventId" />
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>
